.projectslider {
  grid-column: full-start / full-end;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  cursor: grab;
  margin-top: 6rem;
  margin-bottom: 6rem;

  &:active:hover {
    cursor: grabbing;
  }

  @include respond(smmd) {
    grid-column: content-start / content-end;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  @include respond(mdlg) {
    grid-column: full-start / full-end;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .swiper-wrapper {
    height: 42rem;

    @include respond(smmd) {
      height: 42rem;
    }

    @include respond(xl) {
      height: 60rem;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;

    &-active {
      background-color: #646464;
      transition: all 0.4s;
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
  }

  .swiper-pagination {
    position: relative;
    background-color: #2f2f2f;
    width: max-content;
    margin: 0 auto;
    margin-top: 3.2rem;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 0.6rem;

    @include respond(md) {
      padding: 0.8rem;
    }
  }

  .swiper-pagination-bullet {
    background-color: #737373;

    @include respond(md) {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #fafafa;
  }
}
