.section-title {
  position: relative;
  text-transform: uppercase;
  // font-family: $font-secondary;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  font-weight: 400;
  font-size: 6rem;

  @include respond(smmd) {
    font-size: 8rem;
  }

  @include respond(mdlg) {
    font-size: 13rem;
  }

  @include respond(xl) {
    font-size: 18rem;
  }

  &--about {
    font-weight: 300;
  }

  span {
    position: absolute;
    left: 0.6rem;
    top: -0.6rem;
    color: transparent;
    -webkit-text-stroke: #5c5c5c 2px;
    z-index: -1;
    width: 100%;

    @include respond(smmd) {
      left: 0.8rem;
      top: -0.8rem;
    }

    @include respond(mdlg) {
      left: 1.2rem;
      top: -1rem;
    }

    @include respond(xl) {
      left: 2rem;
      top: -1.2rem;
    }
  }

  &__container {
    @include flexCenter;
    grid-column: content-start / content-end;
    gap: 2.4rem;
    margin-bottom: 4rem;
    justify-self: start;

    @include respond(sm) {
      justify-self: auto;
    }

    &.textright {
      flex-direction: row-reverse;
      justify-self: end;

      @include respond(sm) {
        justify-self: auto;
      }
    }

    @include respond(mdlg) {
      margin-bottom: 8rem;
      gap: 3.2rem;
    }

    @include respond(xl) {
      margin-bottom: 12rem;
      gap: 4rem;
    }
  }

  &__italic {
    display: inline;
    position: relative;
    font-weight: 600;
    font-style: italic;
  }

  &__spinner {
    display: none;
    width: 2.4rem;
    height: 2.4rem;
    -webkit-animation: rotate2 10s normal linear infinite;
    animation: rotate2 10s normal linear infinite;

    @include respond(sm) {
      display: block;
    }

    @include respond(mdlg) {
      width: 3.2rem;
      height: 3.2rem;
    }

    @include respond(xl) {
      width: 4rem;
      height: 4rem;
    }
  }

  &__line {
    display: none;
    flex: 1;
    height: 0.8rem;
    border-radius: 100px;
    border: 1px solid #5c5c5c;

    @include respond(sm) {
      display: block;
    }
  }
}
