.desktop-menu {
  display: none;
  align-items: center;
  gap: 4.2rem;

  @include respond(md) {
    display: flex;
  }

  li {
    a {
      font-family: $font-primary;
      color: $color-white;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      transition: all 0.2s;

      &:hover {
        color: $color-highlight;
      }

      span {
        font-family: $font-tertiary;
        font-size: 1.4rem;
        color: rgba($color: $color-white, $alpha: 0.3);
      }
    }
  }

  &__talk {
    padding: 1rem 1.2rem;
    border-radius: 100rem;
    border: 1px solid $color-white;

    a {
      @include flexCenter;
      flex-direction: row !important;
      gap: 1rem;
    }
  }
}
