.project-nav {
  position: absolute;
  left: 0;
  top: 2.4rem;
  z-index: 1;
  width: 100%;
  transition: all 0.2s;

  @include respond(smmd) {
    top: 3.2rem;
  }

  &__list {
    grid-column: content-start / content-end;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    border: 1.5px solid #404040;
    border-radius: 100px;
    transition: all 0.2s;

    &:hover {
      border-color: $color-white;
    }

    a {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      color: $color-white;
      font-size: 1.4rem;
      padding: 1rem 2rem;
      transition: all 0.2s;

      &:hover {
        gap: 2rem;
      }

      @include respond(smmd) {
        font-size: 1.6rem;
      }
    }
  }
}

.project-nav--hidden {
  transform: translateY(-180%);
}

.project-nav--visible {
  transform: translateY(0);
}
